*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}
:root{
    --text: black;
    --background: white;
    --footer: #303035;
    --darkbackground: #303030;
    --text: #ffffff;
}
body
{
    background-color: var(--darkbackground);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: local;
    margin: 0;
    padding: 0;
    text-align: center;
}
#content
{
    max-width: 1000px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: absolute; 
}
.cntr
{
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -100px;
    margin-left: -200px;
}

.rebuilding, .cbltr
{
    margin: 0;
    padding: 0;
}
.rebuilding
{
    font-size: 15vh;
}
.cbltr
{
    font-size: 5vh;
}
