*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --text: black;
    --background: white;
    --footer: #303035;
    --darkbackground: #303030;
    --text: #ffffff;
}
body
{
    color: var(--text);
    background-color: var(--background);
}
header
{
    margin: 0px;
    padding: 0px;
}
.home-nav-items{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}
.header-div-nav-items
{
    background-color: var(--darkbackground);
    margin: 0;
    padding: 0;
}
